
@{
    ViewBag.Title = "Index";
}

<h2>A List Of Pizzas</h2>

           <h2> @ViewBag.pizza1.toString() </h2>
           <h2> @ViewBag.pizza2.toString() </h2>
           <h2> @ViewBag.pizza3.toString() </h2>
           <h2> @ViewBag.pizza4.toString() </h2>
           <h2> @ViewBag.pizza5.toString() </h2>
           <h2> @ViewBag.pizza6.toString() </h2>
           <h2> @ViewBag.pizza7.toString() </h2>
           <h2> @ViewBag.pizza8.toString() </h2>

