
@{
    ViewBag.Title = "Index";
}

<h2>A List Of Pizzas</h2>

           <h2> @ViewBag.pizza1 </h2>
           <h2> @ViewBag.pizza2 </h2>
           <h2> @ViewBag.pizza3 </h2>
           <h2> @ViewBag.pizza4 </h2>
           <h2> @ViewBag.pizza5 </h2>
           <h2> @ViewBag.pizza6 </h2>
           <h2> @ViewBag.pizza7 </h2>
           <h2> @ViewBag.pizza8 </h2>

