
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h2>This is our home page</h2>
<h2>Web Designers make this look pretty</h2>

<a href="ListByCategory">List by Category</a> <br />
<a href="ListBySupplier">List by Supplier</a> <br />
<a href="ListByProduct">List by Product</a> <br />



<h1> Person 1</h1>

@ViewBag.person.FirstName;
@ViewBag.person.LastName;




<h1> Student 1</h1>
@ViewBag.student.FirstName;
@ViewBag.student.LastName;
@ViewBag.student.StudentId;